*{
    box-sizing: border-box;
}
h1, h2,h3{
	margin: 10px 0px 0px 0px;;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #776E65;
	background-color: #fff;
	margin: 0;
}
footer{
    text-align:center;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#content{
    width: 100%;
    margin: 0 auto;
}
#logo_ecci{
    position: absolute;
    top: 0;
    left: 0;
}
#logo_ecci img{
    width: 60%;
    height: 90px;
    object-fit: contain;
}
#game{
	position: relative;
	width: 80%;
	margin:0 auto;
}

#game h1{
	font-size: 3em;
	text-align: center;
	width: 100%;
	display: inline-block;
}
#title{
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}
#content-board{
    text-align: center
}
#board{
	width: auto;
	padding: 10px 0px 0px 10px;
}
#board .row{
	padding: 0px;
	height: 33px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#board .row .cell{
	padding: 0px;
	max-width: 33px;
	min-width: 33px;
	max-height: 33px;
    min-height: 33px;
	display: inline-flex;
	background-color: #fff;
}
#board .row .cell:hover{
	box-shadow: inset 0px 0px 6px green,
				inset 0px 0px 2px green,
				inset 0px 0px 15px green;
}
#board .row .white{
	background: rgb(246,230,180); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(246,230,180,1) 0%, rgba(234,190,136,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(234,190,136,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(246,230,180,1) 0%,rgba(234,190,136,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(246,230,180,1) 0%,rgba(234,190,136,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(246,230,180,1) 0%,rgba(234,190,136,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(246,230,180,1) 0%,rgba(234,190,136,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#eabe88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#board .row .black{
background: rgb(81,66,0); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(81,66,0,1) 0%, rgba(66,51,39,1) 0%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(81,66,0,1)), color-stop(0%,rgba(66,51,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(81,66,0,1) 0%,rgba(66,51,39,1) 0%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(81,66,0,1) 0%,rgba(66,51,39,1) 0%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(81,66,0,1) 0%,rgba(66,51,39,1) 0%); /* IE10+ */
background: linear-gradient(45deg,  rgba(81,66,0,1) 0%,rgba(66,51,39,1) 0%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#514200', endColorstr='#423327',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */